/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1, .h1 {
    font-size: 15px;
    margin: 0;
    font-weight: 800;
    margin-bottom: 5px;
}

.OrderContainer {
    background: white;
    padding: 20px;
    margin-top: 20px;
        border: 1px #9E9E9E solid;
    display: block;
}

body {
    background-color: #2a2a2f;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
}

tr {
    /* padding-top: 20px; */
    /* margin-top: 20px; */
    border-right: 2px #607D8B solid;
    padding: 30px;
    margin-right: 30px;
}


img {
    width: 50px;
    border-radius: 50px;
}

td {
    display: block;
}

tbody {
    display: flex;
}

.eintrag {
    margin-top: 10px;
    margin-right: 30px;
}

.datum {
    margin-top: -35px;
    background: none;
    padding: 10px;
    height: 40px;
    border-top-left-radius: 5px;
    color: #b9b9b9;
    position: absolute;
    margin-left: -11px;
    font-size: 17px;
    border-top-right-radius: 5px;
    font-weight: 100;
    float: left;
}

i.glyphicon.glyphicon-user {
    font-size: 51px;
}

.gesamteintrag2 {
    margin-top: 60px;
    width: 100%;
    padding: 60px 20px 20px 20px;
    background: #1a1b1d;
    color: white;
    display: inline-flex;
    border: 0px rgba(158, 158, 158, 0.46) solid;
    border-radius: 0px;
    margin-top: 20px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

input[type="radio"]:checked+label{ font-weight: bold;
color:red;
    
        margin: 24px 0 0;
} 
label {
    max-width: 100%;
    display: -webkit-inline-box;
    margin-bottom: 5px;
    font-weight: bold;
}
a {
    color: #000;
    margin-right: 20px;
    cursor: pointer;
}


@media print {
  .gesamteintrag2
  { 
    page-break-before: always;
  }}
  
  
  input.ipt {
    font-size: 18px;
    width: 110px;
    height: 38px;
    margin-top: 20px;
    margin-left: 43%;
}

.trucktitel {
    text-align: center;
    font-size: 24px;
}

.Container {
    padding-left: 20px;
    padding-right: 20px;
}

.print {
    margin-left: 100px;
}

.Titel {
    /* border: 1px rgba(158, 158, 158, 0.46) solid; */
    border-radius: 0px;
    margin-bottom: 20px;
   
    /* border-bottom: 2px #8BC34A solid; */
    display: -webkit-box;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
 .Titel {
    background: #202025;
    padding: 20px;
}

.field {
    padding: 20px 10px 20px 10px;
    background: #1a1b1d;
    /* border: 1px rgba(158, 158, 158, 0.46) solid; */
    /* border-radius: 10px; */
    color: #9E9E9E;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
i.glyphicon.glyphicon-calendar {
    font-size: 16px;
    margin-right: 10px;
}




.head {
    background:#1a1b1d;
    padding: 10px;
    color: white;
    display: flex;
     background-image: linear-gradient( to right, #03ef60, #00f3dc );
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: 100% 2px;
    height:60px;
}
.logout {
    position: absolute;
    right: 0;
}

.edit {
    margin-top: 10px;
    margin-bottom: 10px;
}



a:visited {
    color: #ffffff;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 10px;
}

.form-control {
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571px;
    color: #d4d2d2;
    background-color: #2a2a2f;
    background-image: none;
border: 1px solid #131212;    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.btn-default {
    color: #333333;
    background-color: #8BC34A;
    border-color: #19191b;
    color: #ffffff;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #f1f1f1;
    background-color: #323235;
    border-color: #1d1c1c;
}





input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    color: #9E9E9E;
    background: #2a2a2f;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.form-control:focus {
    border-color: #06ff79;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 233, 159, 0.6);
}
a {
    color: #9E9E9E;
    margin-right: 20px;
    cursor: pointer;
}

a:hover {
    color: #06ff79;
    margin-right: 20px;
    cursor: pointer;
background:#1a1b1d;
}


.modal-dialog {
    width: 80%;
    margin: 30px auto;
}




.modal-content {
    position: relative;
    background-color: #1a1b1d;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    color: white;
}

.calendar {
    color: #fff;
    margin: 10px auto;
    background: #1a1b1d;
    padding: 60px 40px 80px 40px;
    width: 68%;
    height: 60%;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(2,2,2,0.2);
    position: relative;
}
.calendar__title{
  text-align: center;
}
.calendar--day-view{
  position: absolute;
  border-radius: 3px;
  top: -2.5%;
  left: -2.5%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
 box-shadow: 3px 12px 5px rgba(2,2,2,0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.9) translate(30px,30px);
  opacity: 0;
  visibility: hidden;
/*   border-radius: 5px; */
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}
.day-view-content{
  color: #222;
  width: 100%;
  padding-top: 55px;
}
.day-highlight, .day-add-event{
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #e7e8e8;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir", sans-serif;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row .qtr{
  width: 40%;
}
.row .half{
  width: 100%;
}
@media (min-width: 800px){
  .row{
    flex-wrap: nowrap;
  }
  .row .half{
    width: 35%;
  }
  .row .qtr{
    width: 25%;
  }
}

.day-add-event{
  background: #04b6e2;
  color: #fff;
  padding: 16px;
  display: none;
  transform: translateY(-15px);
  opacity: 0;
}
.day-add-event[data-active="true"]{
  display: block;
  animation: popIn 250ms 1 forwards;
}
.add-event-label{
  padding: 10px 0;
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}
.add-event-edit{
  display: block;
  margin: 4px 0;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}
.add-event-edit--long{
  max-width: 90%;
}

input.add-event-edit{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  font: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}
.add-event-edit--error, input.add-event-edit--error{
  border-color: #ff5151;
  animation: shake 300ms 1 forwards;
}
@keyframes shake {
  20%, 60%{
    transform: translateX(4px);
  }
  40%, 80%{
    transform: translateX(-4px);
  }
}
input.add-event-edit::-webkit-input-placeholder {
   color: #fff;
}

input.add-event-edit:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

input.add-event-edit::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

input.add-event-edit:-ms-input-placeholder {
   color: #fff;
}
.event-btn{
  padding: 3px 8px;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin: 5px 0;
  text-align: center;
}

.event-btn--save{
  border-color: #fff;
   background: #74c500;
  color: #fff;
  border-color: transparent;
}
.event-btn--save:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
.event-btn--cancel{
  background: #ff5151;
  color: #fff;
  border-color: transparent;
}
.event-btn--cancel:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
/* .add-event-btn:hover, .add.event-btn:focus{
  background: #00258e;
  box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
} */
.day-highlight .day-events-link{
  border-bottom: 2px solid #222;
  padding: 0;
  cursor: pointer;
}
#add-event{
  color: #04b6e2;
  border-color: #04b6e2;
}
.day-view-exit{
  position: absolute;
  top: 24px;
  line-height: 1em;
  left: 22px;
  font-size: 22px;
  color: #252525;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  cursor: pointer;
  opacity: 0;
  animation: popIn 200ms 1 forwards;
  text-transform: uppercase;
}
.day-view-date{
  position: absolute;
  top: 19px;
  right: 22px;
  text-align: right;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  color: #393939;
  border-bottom: 2px solid #222;
  cursor: pointer;
}
.day-inspiration-quote{
  position: absolute;
/*   top: 90px; */
  margin-top: -40px;
  left: 10%;
  width: 80%;
  height: calc(100% - 110px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #ddd;
  line-height: 1.1em;
  font-family: 'Avenir', sans-serif;
  z-index: -1;
}
.day-event-list-ul{
  list-style: none;
  margin: auto;
  width: 95%;
  padding: 0;
  max-height: 300px;
  overflow: auto;
}
.day-event-list-ul li {
  padding: 10px;
  margin: 10px 0;
/*   background: #04b6e2; */
/*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
  position: relative;
}
.event-dates small{
  font-size: 0.65em;
  color: #444;
}
.event-dates{
  font-weight: 800;
  font-family: 'Avenir', sans-serif;
  color: #04b6e2;
  font-size: 18px;
  text-transform: lowercase;
/*   position: relative; */
}
.event-delete{
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 12px;
  color: #f25656;
  cursor: pointer;
}
.event-name{
  font-size: 19px;
  font-family: 'Avenir', sans-serif;
  color: #222;
  padding:10px;
  background: #f7f7f7;
  margin: 2px 0;
  display: block;
  text-transform: initial;
}
.calendar--day-view-active{
  animation: popIn 200ms 1 forwards;
  visibility: visible;
  display: flex;
  transition: visibility 0ms;

}
.calendar--view {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    height: 69%;
}
.cview__month{
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  padding-bottom: 20px;
  color: #222;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}
.cview__month-last, .cview__month-next, .cview__month-current {
    width: 33.33333%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #9E9E9E;
}
.cview__month-last:hover,.cview__month-next:hover{
  color: #fff;
}

.cview__month-current{
  font-size: 22px;
  cursor: default;
  animation: popIn 200ms 1 forwards;
  transform: translateY(20px);
  opacity: 0;
  position: relative;
}
.cview__month-reset{
  animation: none;
}
.cview__month-activate{
  animation: popIn 100ms 1 forwards;
}
.cview--spacer, .cview__header, .cview--date {
    width: 14.28571428571429%;
    max-width: 14.28571428571429%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    font-size: 30px;
    font-weight: 900;
}
.cview--date {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.has-events::after{
  border-radius:100%;
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.95);
  transform: scale(0);
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 12px;

}

button#button {
    margin-left: -30px;
    /* float: left; */
    position: relative;
}
.cview--date:hover::before{
  background: rgba(255,255,255,0.2);
}
.cview--date.today {
    color: #CDDC39;
}
.cview--date.today::before{
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.2);
  transform: scale(0);
}
@keyframes popIn{

  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.cview--date::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0.8);
  z-index: 0;
}
.footer {
    width: 100%;
    bottom: -15%;
    left: 0;
    position: absolute;
    font-size: 14px;
    text-align: center;
}
.footer__link{
  cursor: pointer;
  padding: 2px 5px;
  border-bottom: 1px solid #fff;
}


.Income {
    font-size: 19px;
    text-align: left;
    background: #196098;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Outcome {
    text-align: left;
    background: #da8507;
    font-size: 19px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Incomewert {
    font-size: 20px;
}

.outgoingwert {
    font-size: 20px;
}
buttona#button1 {
  position: absolute;
  top: 180px;
  left: 10px;
}

buttona#button2 {
  position: absolute;
top: 250px;
left: 10px;
}

buttona#button3 {
  position: absolute;
  top: 320px;
  left: 10px;
}

buttona#button4 {
  position: absolute;
  top: 390px;
  left: 10px;
}
buttona#button5 {
    position: absolute;
    top: 460px;
    left: 10px;
}

.modall {
    font-family: 'HelveticaNeue-Light', Helvetica Neue, Helvetica;
    display: flex;
    align-items: baseline;
    height: 100%;
    height: 1000px;
    background: #2a2a2f;
}

#holder {
    border: 2px #181819 solid;
    width: 20%;
    background: #2a2a2f;
    float: right;
    height: 200px;
}

.dragandrop {
    text-align: right;
}

#holder.hover {
    border: 6px #00e452 solid;
    transition: all ease 1.0s;
    border-radius: 30px;
}

#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}


.contenedor-modal {
    float: right;
}

div#hallo2 {
    display: none;
}


h1, .h1 {
    font-size: 15px;
    margin: 0;
    font-weight: 800;
    color: white;
    margin-bottom: 5px;
}

th {
    padding-right: 10px;
    color: whitesmoke;
}

td {
    padding-top: 15px;
    padding-right: 20px;
    color: white;
}


p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: white;
    line-height: 10px;
}

img.asasd {
    width: 100px;
    border-radius: 0px;
}

a.btn.btn-default {
    margin-right: 4px;
}



div#iO2 {
    position: absolute;
    left: -170px;
    background: #03A9F4;
    padding: 10px;
    border-radius: 7px;
}

div#iO3 {
    position: absolute;
    left: -170px;
    top: 210px;
    background: #03A9F4;
    padding: 10px;
    border-radius: 7px;
}


div#iO4 {
    position: absolute;
    top: 270px;
    left: -170px;
    background: #03A9F4;
    padding: 10px;
    border-radius: 7px;
}

div#iO5 {
    position: absolute;
    left: -170px;
    top: 330px;
    background: #03A9F4;
    padding: 10px;
    border-radius: 7px;
}

div#iO6 {
    position: absolute;
    top: 390px;
    left: -170px;
    background: #03A9F4;
    padding: 10px;
    border-radius: 7px;
}



.Filterklasse {
    position: absolute;
    top: 540px;
    left: 105px;
}

div#Oi2 {
    position: absolute;
    left: -100px;
    background: #FF9800;
    padding: 10px;
    border-radius: 7px;
}

div#Oi3 {
    position: absolute;
    left: -100px;
    top: 211px;
    background: #FF9800;
    padding: 10px;
    border-radius: 7px;
}


div#Oi4 {
    position: absolute;
    left: -100px;
    top: 271px;
    background: #FF9800;
    padding: 10px;
    border-radius: 7px;
}


div#Oi5 {
    position: absolute;
    left: -100px;
    top: 330px;
    background: #FF9800;
    padding: 10px;
    border-radius: 7px;
}

div#Oi6 {
    position: absolute;
    left: -100px;
    top: 392px;
    background: #FF9800;
    padding: 10px;
    border-radius: 7px;
}